{% extends "layout.html" %}
{% block content %}
<div class="content">
    <p>We pride ourselves in being one of the few independent dental providers that accepts Medicaid.  Know that when you visit us, you will be treated as a friend, not another body in a chair.</p>
    <p>Please contact us with any questions, comments, or concerns you might have. Your suggestions are what keep our services a step above the rest. A team member will respond to any email messages as soon as possible.</p>
    <p>In a dental emergency, please call for faster service.</p>
</div>

<div class="grids-example">
<div class="pure-g">
    <div class="pure-u-1 pure-u-lg-1-4 pure-u-md-1-2">
        <div class="l-box">
            <h3>Contact Information</h3>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-map-marker fa-lg" aria-hidden="true"></i>8199 SouthPark Ln #120, Littleton, CO, 80120</li>
                <li><i class="fa-li fa fa-phone fa-lg" aria-hidden="true"></i><a href="tel:+1-303-738-8826">(303) 738-8826</a></li>
                <li><i class="fa-li fa fa-fax fa-lg" aria-hidden="true"></i>(303) 738-8823</li>
                <li><i class="fa-li fa fa-envelope-o fa-lg" aria-hidden="true"></i><a href="mailto:southparkdentistry120@gmail.com">Email</a></li>
            </ul>
        </div>
    </div>
    <div class="pure-u-1 pure-u-lg-1-4 pure-u-md-1-2">
        <div class="l-box">
            <h3>Business Hours</h3>
            <table class="pure-table">
                <tbody>
                    {% for day, hours in hours.items() %}
                    <tr class="{{ loop.cycle('pure-table-odd', '') }}">
                        <td>{{ day }}</td>
                        {% if hours[0] %}
                        <td>{{ hours[0] }} AM - {{ hours[1] }} PM</td>
                        {% else %}
                        <td>Closed</td>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="pure-u-1 pure-u-lg-1-4 pure-u-md-1-2">
        <div class="l-box">
            <h3>Amenities</h3>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-ticket fa-lg" aria-hidden="true"></i>Medicaid Accepted</li>
                <li><i class="fa-li fa fa-wifi fa-lg" aria-hidden="true"></i>Guest WiFi</li>
                <li><i class="fa-li fa fa-television fa-lg" aria-hidden="true"></i>Smart TVs</li>
                <li><i class="fa-li fa fa-headphones fa-lg" aria-hidden="true"></i>Wireless Headphones</li>
                <li><i class="fa-li fa fa-bed fa-lg" aria-hidden="true"></i>Neck Pillows</li>
                <li><i class="fa-li fa fa-child fa-lg" aria-hidden="true"></i>Kid Friendly</li>
                <li><i class="fa-li fa fa-comments-o fa-lg" aria-hidden="true"></i>Se habla Español</li>
                <li><i class="fa-li fa fa-wheelchair fa-lg" aria-hidden="true"></i>Wheelchair Accessible</li>
            </ul>
        </div>
    </div>
    <div class="pure-u-1 pure-u-lg-1-4 pure-u-md-1-2">
        <div class="l-box">
            <h3>Dental Services</h3>
            <ul>
                <li>Cleanings & Check-Ups</li>
                <li>Crowns</li>
                <li>Dentures</li>
                <li>Implants</li>
                <li>Implant Restoration</li>
                <li>Tooth Extractions</li>
                <li>Gum Disease</li>
                <li>Composite Fillings</li>
                <li>Bridges</li>
            </ul>
        </div>
    </div>
    <div class="pure-u-1">
        <iframe class="embed-responsive-item" width="100%" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=8199%20SouthPark%20Ln%20%23120%20Littleton%2C%20CO%2080120&key=AIzaSyBAVEnzo7NHuaZQEM0pU93XW0dgTs15Nis" allowfullscreen></iframe>
    </div>
</div>
</div>
{% endblock %}
