{% extends "layout.html" %}
{% block content %}
<div class="content">
    <p>We are extremely proud to be a Medicaid provider.  In addition, we accept the following insurances:</p>
    <ul>
        <li>Delta Dental - EPO- PPO- Premier</li>
        <li>Connection Dental</li>
        <li>Metlife</li>
        <li>Cigna</li>
        <li>United Health Care</li>
        <li>Aetna</li>
        <li>Guardian</li>
        <li>Humana</li>
        <li>DentaMax</li>
        <li>Anthem - Blue</li>
        <li>Carington</li>
        <li>Care500</li>
        <li>CO- Medicaid/ DentaQuest/ Health Colorado</li>
        <li>Lincoln</li>
        <li>Sun Life</li>
    </ul>
    <p>All listed insurances are PPO unless otherwise specified.</p>
</div>
{% endblock %}
